In [2]:
data = 'https://archive.ics.uci.edu/static/public/222/bank+marketing.zip'

In [3]:
!wget $data

--2024-10-09 18:24:00--  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘bank+marketing.zip’

bank+marketing.zip      [    <=>             ] 999.85K  1.04MB/s    in 0.9s

2024-10-09 18:24:03 (1.04 MB/s) - ‘bank+marketing.zip’ saved [1023843]

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('bank-full.csv', sep=';')

In [4]:
df = df[['age', 'job', 'marital', 'education', 'balance', 'housing',
       'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y']]

In [5]:
df.education.value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [6]:
df.mode().T

                     0
age                 32
job        blue-collar
marital        married
education    secondary
balance              0
housing            yes
contact       cellular
day                 20
month              may
duration           124
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no

### Question 2

In [7]:
vars = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']

In [8]:
df[vars].corrwith(df.y).abs()

ValueError: could not convert string to float: 'no'

In [9]:
v = ['age']
df[v].corrwith(df.balance).abs()

age    0.097783
dtype: float64

In [10]:
v = ['day']
df[v].corrwith(df.campaign).abs()

day    0.16249
dtype: float64

In [11]:
df[v].corrwith(df.pdays).abs()

day    0.093044
dtype: float64

In [12]:
v=['pdays']
df[v].corrwith(df.previous).abs()

pdays    0.45482
dtype: float64

### Question 3

In [13]:
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
df.y = df.y.replace({'yes': 1, 'no':0})

/tmp/ipykernel_2983/2032539318.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.y = df.y.replace({'yes': 1, 'no':0})

In [15]:
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [18]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [19]:
len(df_train), len(df_val), len(df_test)

(27126, 9042, 9043)

In [20]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [21]:
y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values

In [22]:
del df_train['y']
del df_val['y']
del df_test['y']

In [23]:
from sklearn.metrics import mutual_info_score

In [24]:
mutual_info_score(df_full_train.y, df_full_train.contact).round(2)

np.float64(0.01)

In [25]:
mutual_info_score(df_full_train.y, df_full_train.education).round(2)

np.float64(0.0)

In [26]:
mutual_info_score(df_full_train.y, df_full_train.housing).round(2)

np.float64(0.01)

In [27]:
mutual_info_score(df_full_train.y, df_full_train.poutcome).round(2)

np.float64(0.03)